@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.title {
  font-weight: 500;
  font-size: functions.responsive-value(42, 32);
  line-height: 1.06;
  letter-spacing: -0.04em;
  color: variables.$color-title;

  @media (min-width: #{768 + 0.1px}) {
    line-height: 1.15;
    letter-spacing: -0.03em;
  }
}
