$color-white: #fff;
$color-black: #000;

$color-text: #333333;
$color-background: #f8f9fc;
$color-accent: #0b51b4;
$color-title: #162b29;

$color-333333: #333333;
$color-f8f9fc: #f8f9fc;
$color-0b51b4: #0b51b4;
$color-162b29: #162b29;
