@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.hero {
  padding-block: functions.responsive-value(20, 31) functions.responsive-value(104, 38);

  // .hero__container
  &__container {
  }

  // .hero__inner
  &__inner {
    display: grid;
    gap: 16px;

    @media (min-width: #{768 + 0.1px}) {
      grid-template-columns: calc(522 / 530 * 1fr) calc(538 / 530 * 1fr);
      align-items: end;
      padding-block: 35px 46px;
      padding-inline: 40px 44px;
      background-color: variables.$color-white;
      border-radius: 18px;
    }
  }

  // .hero__content
  &__content {
    @media (min-width: #{768 + 0.1px}) {
      padding-block-end: 8px;
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero__header
  &__header {
    margin-block-end: functions.responsive-value(88, 30);

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero__title
  &__title {
    margin-block-end: functions.responsive-value(9, 15);
  }

  // .hero__text
  &__text {
    margin-block-end: functions.responsive-value(31, 30);
  }

  // .hero__image
  &__image {
    aspect-ratio: 370 / 283;
    font-size: 0;

    @media (min-width: #{768 + 0.1px}) {
      aspect-ratio: 538 / 411.66;
    }

    img {
      object-fit: contain;
    }
  }
}

.hero-list {
  padding-inline-start: 1em;
  list-style: initial;

  // .hero-list__item
  &__item {
  }
}
